{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="background image" id="background">
        <style>
            body {
                background: url({% static 'busyboard_landing/img/busyboard_background.jpg' %}) no-repeat center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
    </div>
<nav class="navbar navbar-light py-0 bg-dark">
    <div class="navbar-brand">
        <a href="{% url 'home' %}" style="text-decoration: none;"><h1 style="color: #fff"><img
                src="{% static 'busyboard_app/img/busyboard.svg' %}" width="60" height="60"
                class="d-inline-block align-top" alt=""><b>Busy</b>Board</h1></a>
    </div>
</nav>
<br>
<div class="password-reset-form" style="margin-right: 45%; text-shadow: #007bff 1px 0 10px; opacity: 0.85;">
    <h3 style="color:#fff; margin-left: 60px">Forgot your password?</h3>
    <p style="color:#fff; margin-left: 60px">Enter your e-mail address to obtain a new password.</p>
</div>
<br>
<form action="." method="post" data-bs-theme="dark" style="color:#fff; margin-left: 60px">
    {{ form.as_p }}
    <p><input type="submit" class="btn btn-primary" value="Send E-mail"></p>
    {% csrf_token %}
</form>
{% endblock %}